.alertMenu {
    position: absolute;
    display: none;
    flex-direction: column;

    z-index: 999;

    border: 2px solid var(--error);

    width: 400px;
    
    right: 50px;
    bottom: 50px;

    border-radius: 16px;
    background-color: var(--firstBox);
}

.alertContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    width: auto;
}

.alertTextContainer{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-left: 32px;
}
.alertHeading {
    margin-bottom: -8px;
}
.alertHeading h2 {
    font-size: 18px;
    
}
.alertText {
    width: 80%;
}
.alertText h3{
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 16px;
}

.alertButtons {
    display: flex;

    margin-left: auto;
    margin-right: 16px;
    margin-bottom: 16px;
}
.alertButtons Button {
    padding-left: 16px;
    padding-right: 16px;
}
Button + Button {
    margin-left: 15px;
}

.active {
    display: flex;
}