button {
    border: none;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.list {
    padding: 10px 40px 10px 15px;
    width: 150px;

    background-color: transparent;
}
.unActBtn {
    background-color: #E5E4E2;
    transition: 0.2s;
}
button:hover {
    background-color: rgba(28, 27, 33, 0.05);
    
}
button.list.actBtn {
    background-color: rgba(28, 27, 33, 0.05);

    border-left: 2px solid #474554;
}
.actBtn .folder::before {
    rotate: -90deg;
}