button {
    border: none;
    text-decoration: none;
}

button.list {
    width: 100%;
}
.unActBtn {
    background-color: #E5E4E2;
    transition: 0.2s;
}
.unActBtn:hover {
    background-color: rgba(28, 27, 33, 0.05);
    
}
.actBtn {
    background-color: rgba(28, 27, 33, 0.05);

    border-left: 2px solid #474554;
}
.actBtn .folder::before {
    rotate: -90deg;
}