.contextMenu {
    display: none;
    flex-direction: column;

    border-radius: 17px;

    padding-top: 5px;
    padding-left: 6px;
    padding-right: 1px;
    padding-bottom: 5px;

    background-color: var(--firstBox);



    position: absolute;
}
.contextMenu.active {
    display: flex;
}
.btnList li {
    display: inline;
}
.btnList > * {
    margin-right: 5px ;
}