.contextMenu {
    display: none;
    flex-direction: column;

    border: solid 1px #F7F2F4;
    border-radius: 10px;

    background-color: var(--firstBox);

    overflow: hidden;

    position: absolute;
}
.contextMenu.active {
    display: flex;
}

.textTypeList {

}

.btnList {

}
