.document {
    display: flex;
    flex-direction: column;

    padding-top: 28px;
    margin-left: 36px;

    width: 100%;
    
    overflow-y: scroll;

    -ms-overflow-style:none;
    scrollbar-width: 3px;
}
.document::-webkit-scrollbar {
    width: 4px;
}
.document::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
}

.info {
    display: flex;
    flex-direction: column;

    width: auto;
}

.underLine {
    height: 1px;
    width: 277px;
    background-color: var(--primary);

    margin-top: 2px;
}

.data {
    display: flex;
    flex-direction: row;

    margin-top: 4px;
}
.date {
    margin-right: 20px;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    
    margin-top: 16px;
}
.tagContainer > Button {
    margin: 0 3px;
}
.tagContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.tagContainer ul > .tags {
    margin-right: 8px;
} 

.tags {
    border-radius: 30px;
    
    padding: 6px 12px;

    background-color: var(--thirdBox);
    outline: var(--stroke) solid 1px;
    transition: background-color 0.1s ease-in;
}
.tags:hover {
    cursor: pointer;
    background-color: var(--error);
}
.tags h4 {
    margin-bottom: 1px;
}

.textContainer {
    height: var(100% - 50px);
}
.text {
    margin-top: 40px;
    width: 100%;

    outline: 0 solid transparent;
}
.text div {
    font-size: 20px;
    font-weight: 400;
}
.text b {
    font-size: 20px;
    font-weight: 800;
}
.text i {
    font-size: 20px;
}
.text u {
    font-size: 20px;
}
.text span {
    font-size: 20px;
}
.text li {
    font-size: 20px;
    margin-left: 20px;
    
}
b {
    font-weight: 800;
}

.buttons {
    display: flex;
    flex-direction: row;

    margin-left: 12px;
    margin-right: 10px;
    
    align-items: center;

    height: 100%;
}

.documentName {
    font-size: 40px;
    font-weight: 800;
    
    background-color: var(--background);
    border: none;
    outline: 0 solid transparent;
}

.invis {
    display: none;
}

.list {
    background-color: transparent;
    outline: none;
    border: none;

    width: 22px;

    font-weight: 600;
}
.list::placeholder {
    color: var(--primary);
}
.marked {
    background-color: #f2edb5;
    padding-right: 1px;
    padding-left: 1px;
}
i {
    margin-left: -3px;
}
p {
    margin-left: 12px;
    margin-right: 12px;
}
h2 {
    font-size: 36px;
    font-weight: 800;

    margin-bottom: 15px;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}
h4 {
    font-size: 14px;
    font-weight: 800;
}