.dropdown {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 30px;
    left: 5px;

    background-color: var(--secondBox);
}
.dropdown.active {
    display: flex;

}
.dropdown li {
    display: flex;
    flex-direction: column;

    width: 100%;
}