.graphView {
    display: flex;
    width: 100%;
    height: 100%;
}

.graphViewContainer {
    
    width: 100%;
    height: 100%;

    --d: 4px; 
    
    background : radial-gradient(
      circle at 
         var(--d) 
         var(--d), 
         
      var(--secondBox) calc(var(--d) - 1px), 
      var(--background) var(--d)
    ) 
    0 0 / 100px 100px;
}
    
