.graphView {
    display: flex;
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.graphViewContainer {
    
    width: 100%;
    height: 100%;

    --d: 4px; 
    
    background : radial-gradient(
      circle at 
         var(--d) 
         var(--d), 
         
      var(--secondBox) calc(var(--d) - 1px), 
      var(--background) var(--d)
    ) 
    0 0 / 100px 100px;
}

div {
  outline: none;
}

.searchBar {
  padding-left: 17px;

  border: none;
  outline: none;

  background-color: transparent;
  
}
.searchContainer {
  display: flex;
  position: absolute;

  outline: var(--stroke) solid 1px;
  background-color: var(--thirdBox);
  border-radius: 17px;

  height: 30px;

  top: auto;
  left: auto;

  right: 30px;
  bottom: 30px;
}