* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #474554;

  font-size: 16px;

  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: row;

  height: 100vh;
  background-color: #F5F5F5;
}

ol {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  width: 100%;
}