* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--primary);

  font-size: 16px;

  font-family: 'Inter', sans-serif;
}

.App {
  --primary: #343240;
  --firstBox: #F1EDEE;
  --secondBox: #E5E1E3;
  --background: #FDF8F9;

  display: block;

  height: 100vh;
  background-color: var(--background);
}

.modules {
  display: flex;

  height: calc(100vh - 40px);
}

ol {
  list-style-type: none;
}
u {
  text-decoration: underline;
}