* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--primary);

  font-size: 16px;

  font-family: 'Inter', sans-serif;
}

.App {
  --primary:    #343240;
  --primaryRGB:   52,50,64;
  --firstBox:   #F7F2F4;
  --secondBox:  #F1EDEE;
  --thirdBox:   #E5E1E3;
  --stroke:     #DDD9DA;

  --webBg:      #E6E2EA;
  --background: #FDF8F9;
  --error:      #ff5449;

  display: block;

  height: 100vh;
  background-color: var(--webBg);
}

.modules {
  display: flex;

  height: calc(100% - 20px);


}

ol {
  list-style-type: none;
}
u {
  text-decoration: underline;
}